body {
    height: 100vh;
    align-items: center;
}


.userlogin {
    background-image: url('login02.jpg');
    background-position: auto;
    background-size: cover;
    
}
.box {
    border: 1px solid rgb(11, 10, 10);
    border-radius: 25px;
    background-color: black;
    margin-right: 60%;
    margin-left: 10%;
    margin-top: 8%;
    padding-top: 20px;
    width:auto;
    text-decoration:wavy;
    width: 400px;
    


}
h1 {
    border: 2px solid rgb(239, 166, 28);
    border-radius: 20px;
    margin-right: 30%;
    margin-top: 10%;
    margin-left: 8%;
    margin-bottom: 0px;
    text-align: center;
    font-size: 3rem;
    padding-left: 10px;
    width: 80%;
    color: aliceblue;

}

h2 {
    border: 2px solid rgb(241, 168, 31);
    border-radius: 20px;
    text-align: center;
    font-size: 6rem;
    margin-right: 30%;
    margin-bottom: 70px;
    margin-left: 30%;
    background: inherit;
    color: aliceblue;
    
}

button {
    border: 2px solid rgb(239, 165, 36);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-right: -4px;
    margin-bottom: 10%;
    width: 22%;
    font-size: 1rem;
    width: 180px;
       
}

button:nth-child(save) {
margin-right: 20px;
}

#increment-btn {
    background-color: rgb(237, 163, 53);
}

#save-btn {
    background-color: rgb(109, 114, 112);
    position: absolute;
    color: aliceblue;
    
}
button:hover {
     transform: scale(1.05);
     transform-style: preserve-3d;
}

h3{
    color: rgb(250, 231, 207);
    display: flex;
    margin-left: 10px;
    border: 2px solid  rgb(237, 163, 53);
    margin-right: 10px;
    margin-left: 10px;
    height: 25px;
    padding: 0 3px 0 3px;
    width: 350px;
}

.pagination {
    display: inline-block;
}

.pagination h3 {
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination h3.active {
    color: rgb(231, 188, 0);
}
.pagination h3:hover:not(.active) {
    background-color:rgb(237, 163, 53);
}